<h1>Sign in</h1>
<% # login form %>
<%= form_with model: @user, url: sign_in_path, method: :post, class: "row g-3" do |form| %>
  <div class='col-12 col-md-6'>
    <%= form.label :email %><br>
    <%= form.text_field :email, class: "form-control", placeholder: "sdfs@gmail.com" %>
  </div>
  <div class='col-12 col-md-6'>
    <%= form.label :password %><br>
    <%= form.password_field :password, class: "form-control", placeholder: "password" %>
  </div>
  <div class='col-12 col-md-6'>
    <%= form.submit "Sign in", class: "btn btn-primary" %>
    <%= link_to 'Forgot your password', password_reset_path %>
  </div>
<% end %>
